JELLYFIN_URL=http://jellyfin:8096
API_KEY=48c7e877e12342c09f18d75195c273c3
DATA_MODE=api
PLAYBACK_DB_PATH=/config/data/playback_reporting.db
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:8091,http://127.0.0.1:8091